body{
	max-width: 1366px;
	min-width: 1200px;
	margin: 0 auto !important; /*centers the page for larger resolution screens*/
}
.Back2Top {
	font-family: "Century Gothic", "Avenir";
	font-size: 20px;
	background-color: #039be6;
 	color: white;
 	border-style: solid;
 	border-color: white;
 	position: fixed;
  	bottom: 10%;
  	right: 5%;
  	padding: 1%;
}

.Back2Top:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.bookButton {
	font-family: "Century Gothic", "Avenir";
	font-size: 20px;
	background-color: #039be6;
 	color: white;
 	border-style: solid;
 	border-color: white;
 	position: fixed;
  	top: 30%;
  	left: 2%;
  	padding: 1%;
}

.bookButton:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.container {
	padding: 0% 20% 0% 20%;
}

#misc {
	font-family: "Century Gothic", "Avenir";
	font-size: 30px;
	color: #039be6;
	padding: 10px;
}

.flexContainerRental {
	display: flex;
	margin: 0% 10% 0% 10%;
	justify-content: space-evenly;
	align-items: flex-end;
}

.imageButtonRental {
	flex-direction: column;
	justify-content: center;
}

.imageButtonRental img {
	width: 275px;
	margin: 2.5% auto 0 auto;
}

.flexContainerInfo {
	display: flex;
	margin: 0% 10% 0% 10%;
	justify-content: space-evenly;
}

.RentalInfo {
	background-color: #039be6;
	height: auto;
	width: 275px;
	margin-bottom: 2.5%;
}

.RentalInfo p {
	font-family: "Century Gothic", "Avenir";
	color: white;
	font-size: 20px;
	padding: 0 1% 0 1%;
}

.RentalInfo ul li {
	font-family: "Century Gothic", "Avenir";
	color: white;
	font-size: 15px;
}

@media screen and (orientation:portrait) { /*For mobile devices*/

}