body{
	max-width: 1366px;
	min-width: 1200px;
	margin: 0 auto !important; /*centers the page for larger resolution screens*/
}
.blueBG {
	background-image: url("../blueBG.png");
	height: 300px;
	padding-top: 15px;
}

.container {
	padding: 0% 20% 0% 20%;
}

.blueBG a {
	font-family: "Century Gothic", "Avenir";
	color: white;
	font-size: 30px;
}

.BookingSquares {
	margin: 1% 0% 1% 0%;
	width: 45%;
	height: auto;
	min-height: 241px;
	background-color: rgb(2, 0, 71); /*fallback for browsers that don't support opacity*/
	background-color: rgba(2, 0, 71, 0.5); /*Translucent dark blue*/
}

.BookingSquares p {
	font-family: "Century Gothic", "Avenir";
	color: white;
	font-size: 18px;
	text-align: left;
	margin: 3% 3% 0% 3%;
}

.centerText {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#leftSquare {
	float: left;
}

#rightSquare {
	float: right;
}

#emailButton {
	padding-top: 4%;
}

#emailButton p {
	text-align: center;
	color: white;
}

.emailButtonImage:hover {
	transform: scale(1.1);
}

.pricesContainer {
	margin: 0% 27% 0% 27%;
}

.pricesTable {
	font-family: "Century Gothic", "Avenir";
	font-size: 30px;
	color: #039be6;
	border: solid;
	width: 100%;
}

.pricesText {
	font-family: "Century Gothic", "Avenir";
	font-size: 20px;
	color: #4d4d4d; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
} 

.pricesText a:visited {
	color: #4d4d4d; /*keeps clickable link grey*/
}

.pricesText a:visited {
	color: #4d4d4d;
}

.calendar {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.agreement {
	font-family: "Century Gothic", "Avenir";
	font-size: 16px;
	color: #4d4d4d;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 1%;
}

.agreement a:visited {
	color: #4d4d4d;
}

@media screen and (orientation:portrait) { /*For mobile devices*/

}